:root {
  --primary-color: #57c7ab;
  --light: #ffeeee;
  --dark: #112211;
  --shadow-color: #226655;
  --light: #f8fdf0;
}

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

/* Basic Styles */
.logo {
  width: 4rem;
  border-radius: 5rem;
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--shadow-color);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top of other content */
  position: fixed; /* Make the navbar fixed at the top */
}

.menu {
  display: flex;
  list-style: none;
}

.menu_group a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

/* Burger Menu Icon */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding-right: 1rem;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

/* Flexbox for main content layout */
.quizz_box {
  display: flex;
  justify-content: space-between; /* Ensures space between the quiz and the image */
  align-items: flex-start;
  margin: 20px;
}

.quizz_box div {
  flex: 1;
}

.quizz_box .quizz {
  text-align: right;
  margin-right: 20px;
}

.answer_quizz {
  text-align: right;
  margin-right: 20px;
}

.quest_quizz {
  text-align: right;
  margin-right: 20px;
}

/* Styling the image */
.pics {
  max-width: 300px;
  max-height: 400px;
}

/* Buttons styling */
.quest_group {
  display: block;
  margin: 10px 0;
  background-color: #f4f4f4;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: right;
}

.quest_group:hover {
  background-color: #ddd;
}

.btn_validate {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  text-align: right;
}

.btn_validate:disabled {
  background-color: #ccc;
}

/* Footer */
footer {
  background-color: var(--shadow-color);
  color: white;
  padding: 20px;
  text-align: center;
}

footer .menuFoot {
  list-style: none;
  padding: 0;
}

.menu_group2 {
  margin-top: 10px;
}

.menu_group2 a {
  text-decoration: none;
  color: white;
}
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    position: absolute;
    top: 96px;
    left: -15px;
    padding: 10px;
  }

  .menu.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
  .pics {
    display: none;
  }
  .quizz_box {
    display: flex;
    justify-content: space-between; /* Ensures space between the quiz and the image */
    align-items: flex-start;
    margin: 9rem;
  }
}
