#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-pokemon {
  padding: 0.5rem 1rem;
  background-color:bisque;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: background-color 0.2s, transform 0.2s;
}

.button-pokemon:hover {
  background-color:burlywood;
  transform: scale(1.05);
}

.card {
  width: 200px;
  padding: 1rem;
  margin-top: 2rem;
  background-color: lightgreen;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}



